<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125970532260-mbkl2s3sfh93flqte83pkirdm07a82kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125970532260-mbkl2s3sfh93flqte83pkirdm07a82kf</string>
	<key>API_KEY</key>
	<string>AIzaSyDoAB5ChZ-0AFeRJ-Z_WtvxzW04_3hanX8</string>
	<key>GCM_SENDER_ID</key>
	<string>125970532260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emulateios</string>
	<key>PROJECT_ID</key>
	<string>sumiser-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>sumiser-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125970532260:ios:70227b237633cffe636331</string>
	<key>DATABASE_URL</key>
	<string>https://sumiser-alpha.firebaseio.com</string>
</dict>
</plist>